In [9]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image as image
import pandas as pd
%matplotlib inline

In [2]:
test=[]
for i in range(0,10):
    test.append("D:/mnistdata/test{}.txt".format(str(i)))
train=[]
for i in range(0,10):
    train.append("D:/mnistdata/train{}.txt".format(str(i)))

In [51]:
def saveimages(files):
    for f in files:
        print(f)
        number=np.loadtxt(f)
        for n in range(16):
        #for n in range(len(number)):  
            nn = np.reshape(number[n],(28,28))
            im = image.fromarray(nn).convert('L')
            #im.save("D:/images/im{}.png".format(n))
            #plt.show(im)
            #plt.subplot(100,100,n+1)
            #plt.subplot(211,len(number),n+1)
            plt.subplot(4,4,n+1)
            #plt.subplot(number.shape[0]//5,5,n+1)
            plt.axis('off')
            plt.imshow(im,cmap=plt.cm.gray_r)
            
def read_data():
    #testdata
    testdata= []
    for f in test:
        testdata.append(np.loadtxt(f))
    finaltest=np.array(testdata)
    #traindata
    traindata = []
    for f in train:
        traindata.append(np.loadtxt(f))
    finaltrain = np.array(traindata)
    return finaltest,finaltrain

def getdf():
    tables = []
    for i in range(10):
        temp_df = pd.read_csv('D:/mnistdata/train{}.txt'.format(i),sep = ' ', names = range(784))
        temp_df['target'] = i
        tables.append(temp_df)
    return tables

#testset,trainset = read_data()

In [6]:
#to access 0 you need xxx_set[0][:], to access 1 you need xxx_set[1][:] and so on

In [ ]:
# enc=OneHotEncoder()
# labels = pd.DataFrame([1,1,2,2,3,3,4,4,5,5,6,6],columns=['target'])
# enc.fit(labels['target'].reshape(-1,1))
# enc.transform(labels['target'].reshape(-1,1)).toarray()
# labels

In [50]:
# train_0 = pd.read_table('D:/mnistdata/train0.txt',sep=" ",names = range(784))
# labels = pd.Series(np.zeros(len(train_0[0])))
# train_0=train_0.assign(labels=labels.values)
# train_0.head(10)

In [49]:
train = getdf()
train = pd.concat(train)
train.sample(10)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,target
4587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3479,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
6609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
5182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
4458,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3