In [1]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image as image
import pandas as pd
%matplotlib inline

In [2]:
test=[]
for i in range(0,10):
    test.append("D:/mnistdata/test{}.txt".format(str(i)))
train=[]
for i in range(0,10):
    train.append("D:/mnistdata/train{}.txt".format(str(i)))

In [3]:
def saveimages(files):
    for f in files:
        print(f)
        number=np.loadtxt(f)
        for n in range(16):
        #for n in range(len(number)):  
            nn = np.reshape(number[n],(28,28))
            im = image.fromarray(nn).convert('L')
            #im.save("D:/images/im{}.png".format(n))
            #plt.show(im)
            #plt.subplot(100,100,n+1)
            #plt.subplot(211,len(number),n+1)
            plt.subplot(4,4,n+1)
            #plt.subplot(number.shape[0]//5,5,n+1)
            plt.axis('off')
            plt.imshow(im,cmap=plt.cm.gray_r)
            
def read_data():
    '''to access 0 you need xxx_set[0][:], to access 1 you need xxx_set[1][:] and so on'''
    #testdata
    testdata= []
    for f in test:
        testdata.append(np.loadtxt(f))
    finaltest=np.array(testdata)
    #traindata
    traindata = []
    for f in train:
        traindata.append(np.loadtxt(f))
    finaltrain = np.array(traindata)
    return finaltest,finaltrain

def getdf(type):
    tables = []
    for i in range(10):
        temp_df = pd.read_csv('D:/mnistdata/{}{}.txt'.format(str(type),i),sep = ' ', names = range(784))
        if str(type) == 'train':
            temp_df['target'] = i
        tables.append(temp_df)
    tables = pd.concat(tables)
    return tables

#testset,trainset = read_data()

In [8]:
train_X = getdf('train')
train_X.sample(10)
# create train_y 
enc = OneHotEncoder()
train_Y = enc.fit_transform(train_X['target'].reshape(-1,1)).toarray()

In [34]:
train_X.shape
train_Y.shape
print('train_x is {} and train_Y is {}'.format(train_X.shape,train_Y.shape))

train_x is (60000, 785) and train_Y is (60000, 10)

In [37]:
# in order to access eg the first row of the train_X use .iloc[0]
# to see all rows whose target is in range (0..9) use train_X.loc[trainX['target'] == 0]

In [39]:
train_X.loc[train_X['target']== 0].sample(5)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,target
4354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4870,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
test_X = getdf('test')
test_X